### Testing and Sample Usage

In [2]:
from matching import MatchingEngine
from trading import TradingSystem

ME = MatchingEngine('main')

op = TradingSystem('Optiver', 'op', ME)
js = TradingSystem('Jane Street', 'js', ME)

op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
js.order('o', 11.75, 55)

ME.get_book()

Trade Executed: Bid ID = js0000	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0001	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = op0001	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = op0002	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0002	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0003	Offer ID = js0004	size = 5	price = 11.75

   bid_ID  bid_qty  bid_price offer_price offer_qty offer_ID
0  js0003        5      11.75        12.0       100   op0000
1  op0004       10      11.75        12.0       100   op0003
2  op0005       10      11.75

### Replicate Feature

In case that main exchange fails, we can use the logs from main as input to a backup matching engine, which will parse the logs and replay all activity from the main engine, bringing us to the same state that the main engine was at when it failed.

In [3]:
ME_backup = MatchingEngine('backup')
ME_backup.replicate('main')
ME_backup.get_book()

Trade Executed: Bid ID = js0000	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0001	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = op0001	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = op0002	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0002	Offer ID = js0004	size = 10	price = 11.75
Trade Executed: Bid ID = js0003	Offer ID = js0004	size = 5	price = 11.75

   bid_ID  bid_qty  bid_price offer_price offer_qty offer_ID
0  js0003        5      11.75        12.0       100   op0000
1  op0004       10      11.75        12.0       100   op0003
2  op0005       10      11.75