### Testing and Sample Usage

In [49]:
import matching
import trading
import importlib
importlib.reload(matching)
importlib.reload(trading)
from matching import MatchingEngine
from trading import TradingSystem

ME = MatchingEngine('main')


op = TradingSystem('Optiver', 'op', ME)
js = TradingSystem('Jane Street', 'js', ME)
'''
op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
js.order('o', 11.75, 55)

ME.get_book()
'''

"\nop.order('o', 12.00, 100)\njs.order('b', 11.75, 10)\njs.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('o', 12.00, 100)\njs.order('b', 11.75, 10)\njs.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\njs.order('o', 11.75, 55)\n\nME.get_book()\n"

### Order Generation Feature

Specify trading firms involved, ME session, qty of orders total, and range of bid and ask prices.

In [50]:
import generator 
importlib.reload(generator)
from generator import OrderGenerator

gen = OrderGenerator()
orders = gen.generate_orders([op, js], 10000)
gen.place_orders()

ME.get_book()

      bid_ID bid_qty bid_price  offer_price  offer_qty offer_ID
0     js4960      29     12.09        12.26          2   op5024
1     op5028      68     12.07        12.29         63   op5027
2     js4959      52     11.98        12.33         33   op5025
3     js4817      29     11.56        12.47         46   op5023
4     js3174      36     11.55        12.51         31   op2794
...      ...     ...       ...          ...        ...      ...
2498                                  15.61         69   op2715
2499                                  15.62         48   op1179
2500                                  15.73         47   js2581
2501                                  15.80         38   js1901
2502                                  15.94         31   js1295

[2503 rows x 6 columns]

### Replicate Feature

In case that main exchange fails, we can use the logs from main as input to a backup matching engine, which will parse the logs and replay all activity from the main engine, bringing us to the same state that the main engine was at when it failed.

In [51]:
ME_backup = MatchingEngine('backup')
ME_backup.replicate('main')
ME_backup.get_book()

      bid_ID bid_qty bid_price  offer_price  offer_qty offer_ID
0     js4960      29     12.09        12.26          2   op5024
1     op5028      68     12.07        12.29         63   op5027
2     js4959      52     11.98        12.33         33   op5025
3     js4817      29     11.56        12.47         46   op5023
4     js3174      36     11.55        12.51         31   op2794
...      ...     ...       ...          ...        ...      ...
2498                                  15.61         69   op2715
2499                                  15.62         48   op1179
2500                                  15.73         47   js2581
2501                                  15.80         38   js1901
2502                                  15.94         31   js1295

[2503 rows x 6 columns]