### Testing and Sample Usage

In [43]:
import matching
import trading
import importlib
importlib.reload(matching)
importlib.reload(trading)
from matching import MatchingEngine
from trading import TradingSystem

ME = MatchingEngine('main')


op = TradingSystem('Optiver', 'op', ME)
js = TradingSystem('Jane Street', 'js', ME)
'''
op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('o', 12.00, 100)
js.order('b', 11.75, 10)
js.order('b', 11.75, 10)
op.order('b', 11.75, 10)
op.order('b', 11.75, 10)
js.order('o', 11.75, 55)

ME.get_book()
'''

"\nop.order('o', 12.00, 100)\njs.order('b', 11.75, 10)\njs.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('o', 12.00, 100)\njs.order('b', 11.75, 10)\njs.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\nop.order('b', 11.75, 10)\njs.order('o', 11.75, 55)\n\nME.get_book()\n"

### Order Generation Feature

Specify trading firms involved, ME session, qty of orders total, and range of bid and ask prices.

In [44]:
import generator 
importlib.reload(generator)
from generator import OrderGenerator

gen = OrderGenerator(ME)
orders = gen.generate_orders([op, js], 10000)

for firm, direction, price, qty in orders:
    firm.order(direction, price, qty)

ME.get_book()

      bid_ID  bid_qty  bid_price offer_price offer_qty offer_ID
0     op4963       22      12.44       12.49        57   op4552
1     js5008       37      12.20       12.49        85   js4606
2     js5023       34      11.82       12.49        49   op4767
3     op4943       32      11.78        12.5        47   js0249
4     op4944       42      11.78        12.5        77   js0283
...      ...      ...        ...         ...       ...      ...
2464  op4568       34       8.44
2465  js3237       35       8.42
2466  op0200       43       8.39
2467  js3289       34       8.38
2468  js1673       49       8.27

[2469 rows x 6 columns]

### Replicate Feature

In case that main exchange fails, we can use the logs from main as input to a backup matching engine, which will parse the logs and replay all activity from the main engine, bringing us to the same state that the main engine was at when it failed.

In [45]:
ME_backup = MatchingEngine('backup')
ME_backup.replicate('main')
ME_backup.get_book()

      bid_ID  bid_qty  bid_price offer_price offer_qty offer_ID
0     op4963       22      12.44       12.49        57   op4552
1     js5008       37      12.20       12.49        85   js4606
2     js5023       34      11.82       12.49        49   op4767
3     op4943       32      11.78        12.5        47   js0249
4     op4944       42      11.78        12.5        77   js0283
...      ...      ...        ...         ...       ...      ...
2464  op4568       34       8.44
2465  js3237       35       8.42
2466  op0200       43       8.39
2467  js3289       34       8.38
2468  js1673       49       8.27

[2469 rows x 6 columns]